# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [44]:
#Identify the dimensions of the dataset by determining the number of rows and columns it contains.
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
customer_data = pd.read_csv(url)
customer_data

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
print("Number of rows:", customer_data.shape[0], "Number of columns:", customer_data.shape[1])

Number of rows: 4008 Number of columns: 11

In [247]:
#Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable.
customer_data.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [249]:
#Identify the number of unique values for each column and determine which columns appear to be categorical. 
#You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.

# Count unique values for each column
unique_values = customer_data.nunique()
print("Unique values for each column:")
print(unique_values)

# Identify categorical columns (those with few unique values)
categorical_columns = customer_data.select_dtypes(include=['object']).columns

# Describe unique values for each categorical column
for col in categorical_columns:
    print(f"Unique values for {col}:")
    print(customer_data[col].unique())

# Range of values for numerical columns
numerical_columns = customer_data.select_dtypes(include=['float64']).columns
for col in numerical_columns:
    print(f"Range for {col}: {customer_data[col].min()} - {customer_data[col].max()}")

Unique values for each column:
Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64
Unique values for Customer:
['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]
Unique values for ST:
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
Unique values for GENDER:
[nan 'F' 'M' 'Femal' 'Male' 'female']
Unique values for Education:
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Unique values for Customer Lifetime Value:
[nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']
Unique values for Number of Open Complaints:
['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
Unique values for Policy Type:
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Unique values for Vehicle Class:
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
Range for Income: 0.0 - 99960.0
Range for Monthly Premium Auto: 61.0 - 35354.0
Range for Total Claim Amount: 0.382107 - 2893.239678

In [253]:
#Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. 
#You should also provide your conclusions based on these summary statistics.
summary_statistics = customer_data.describe()
mode_values = customer_data.mode().iloc[0]

# Print the results
print("Summary statistics for numerical columns:")
print(summary_statistics)

print("Mode values for numerical columns:")
print(mode_values)

# data for numberical columns
for col in numerical_columns:
    mean = customer_data[col].mean()
    median = customer_data[col].median()
    std_dev = customer_data[col].std()
    print(f"For {col}: Mean = {mean}, Median = {median}, Std Dev = {std_dev}")

Summary statistics for numerical columns:
             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678
Mode values for numerical columns:
Customer                           AA71604
ST                                  Oregon
GENDER                                   F
Education                         Bachelor
Customer Lifetime Value         251459.20%
Income                                 0.0
Monthly Premium Auto                  65.0
Number of Open Complaints           1/0/00
Policy Type                  Personal Auto
Vehicle Class                Four-Door Car
Total Claim Amount                   321.6
Name: 0, dtype: object
For Income: Mean = 39295.70121381886, Median = 36234.0, Std Dev = 30469.42706040185
For Monthly Premium Auto: Mean = 193.234360410831, Median = 83.0, Std Dev = 1601.190368577621
For Total Claim Amount: Mean = 404.98690940896364, Median = 354.729129, Std Dev = 293.0272599264041

In [255]:
# Summary statistics for categorical columns
for col in categorical_columns:
    print(f"Value counts for {col}:")
    print(customer_data[col].value_counts())

    # Insights (e.g., most common category)
    most_common = customer_data[col].mode()[0]
    print(f"Most common value in {col}: {most_common}")

Value counts for Customer:
Customer
RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: count, Length: 1071, dtype: int64
Most common value in Customer: AA71604
Value counts for ST:
ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64
Most common value in ST: Oregon
Value counts for GENDER:
GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64
Most common value in GENDER: F
Value counts for Education:
Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64
Most common value in Education: Bachelor
Value counts for Customer Lifetime Value:
Customer Lifetime Value
445811.34%     4
251459.20%     4
272535.64%     3
578018.22%     3
684615.03%     3
              ..
245357.08%     1
507566.27%     1
321497.94%     1
1227534.31%    1
899704.02%     1
Name: count, Length: 1027, dtype: int64
Most common value in Customer Lifetime Value: 251459.20%
Value counts for Number of Open Complaints:
Number of Open Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64
Most common value in Number of Open Complaints: 1/0/00
Value counts for Policy Type:
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
Most common value in Policy Type: Personal Auto
Value counts for Vehicle Class:
Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64
Most common value in Vehicle Class: Four-Door Car

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [160]:
location_counts = customer_data['ST'].value_counts()

top_5_less_common_locations = location_counts.sort_values().head(5)

print(top_5_less_common_locations)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [236]:
policy_type = customer_data['Policy Type'].value_counts().max()
policy_type

780

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [245]:
# Create DataFrame
customer_data_df = pd.DataFrame(customer_data)

# Separate DataFrames for Personal Auto and Corporate Auto
personal_auto_policies = customer_data_df.loc[customer_data_df['Policy Type'] == 'Personal Auto']
corporate_auto_policies = customer_data_df.loc[customer_data_df['Policy Type'] == 'Corporate Auto']

# Calculate average income for each policy type
avg_personal_auto_income = personal_auto_policies['Income'].mean()
avg_corporate_auto_income = corporate_auto_policies['Income'].mean()

# Print the results
print(f"Average income for Personal Auto: {avg_personal_auto_income}")
print(f"Average income for Corporate Auto: {avg_corporate_auto_income}")

Average income for Personal Auto: 38180.69871794872
Average income for Corporate Auto: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here